* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: "Lato", sans-serif;
}

.card {
  /* z-index: 3; */
  background: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 46%;
  height: fit-content;
  margin: 20px;
}

.imageContainer {
  position: relative;
  height: 200px;
}

.hoverContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
}
.imageContainer:hover .hoverContainer {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
.bottom {
  position: relative;
  display: flex;
  margin-top: 28px;
  color: gray;
  align-items: center;
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.popUpcard {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.cancelbtn {
  color: gray;
  padding: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: end;
}
